.game-outer-div {
  border: 5px solid black;
  background-color: #ffffff;
  width: 1060px;
  box-shadow: inset 0 0 15px;
  margin: 0px auto;
}

.remove-game-button {
  margin-top: 5px;
  font-weight: bold;
  float: left;
  width: 150px;
  outline: none;
  text-align: center;
  position: relative;
  top: 50%;
  left: 45%;
  background: white;
  border-radius: 5px;
}

.remove-game-button:hover {
  background-color: #dddddd;
}

.main-game-canvas {
  padding-top: 5px;
  margin: 35px 30px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
