header {
  font-family: Arial;
}

body {
  background: black;
  color: rgb(255,20,147);
  font-family: Arial;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline;
  font-size: 150%;
  margin: 0px 100px 0px 0px;
}

h1 {
  margin: 40px 0px 0px 40px;
}

/*
useful for centering stuff (make 1 element static, the rest auto margin)

body {
    padding-bottom: 10px;
    width: 800px;
    margin: 0px auto;
    max-height: 90%;
    background-color: powderblue;
    border: 1px solid black;
  } 
*/

/*
id's are underscore delimited
*/
#p1 {
  color: rgb(255,20,147);
  max-width: 150px;
  margin: auto;
}

/*
classes are hyphen delimited
*/
.centered-upper-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgbox {
  display: grid;
}

.center-fit {
  width: 100%;
  height: 1000px;
  margin: auto;
  opacity: 1.0;
  z-index: -1;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

a:link {
  text-decoration: none;
  color: rgb(255,20,147);
}

a:visited {
  color: rgb(255,20,147);
  text-decoration: underline;
  text-decoration-color: purple;
}

a:hover {
  text-decoration-color: white;
  text-decoration: underline;
}

a:active {
  color: rgb(255,20,147);
  text-decoration: none;
}
