html, body {
  background-color: white;
  color: black;
  /* hotpink: rgb(255,20,147) */
  font-family: "Courier New";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  margin-top: 40px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

ul li {
  display: inline-block;
  font-size: 1.75em;
  font-weight: bold;
}

p {
  font-size: 100%;
  text-align: center;
}

a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 20, 147);
}

/*
id's are underscore delimited
*/
#hobby_padding {
  padding-left: 40px;
  padding-right: 20px;
}

#contact_padding {
  padding-right: 40px;
  padding-left: 20px;
}

#p1 {
  color: rgb(255, 20, 147);
}

#latin_phrase {
  color: black;
}

#website_repo_link {
  color: rgb(255, 20, 147);
}

#tech_spec_link {
  color: rgb(255, 20, 147);
}

#github_repo_link {
  font-size: 25px;
  color: rgb(127, 255, 0);
  text-decoration-color: black;
}

/* for dark light button */
#button {
  background: transparent;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 22px;
  cursor: pointer;
}

/*
classes are hyphen delimited
*/
/*Play around with this - maybe use it*/
.header-background {
  background-color: rgba(216, 216, 216, 0.6);
  width: 100%;
  height: 110px;
}

.menu-bar-formatting {}

.current-page-formatting {
  position: absolute;
  display: inline-block;
  top: 5%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.menu-links-formatting {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-left-text {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.bottom-left-text {
  position: absolute;
  bottom: 10%;
  left: 125px;
  transform: translate(-50%, -50%);
  text-align: left;
}

.centered-upper-text {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-lower-text {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-fit {
  width: 100%;
  height: 1000px;
  margin: auto;
  opacity: 1.0;
}

.bottom-social-links {
  position: absolute;
  top: 650px;
  text-align: center;
  margin: auto;
  background-color: rgb(255, 192, 203, 0.2);
  width: 100%;
  height: 139px;
}

.social-button {
  background: transparent;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 26px;
  cursor: pointer;
}